<div style="background:#F5F5F5;padding:20px;font-family:arial;font-size:14px;">
	<div style="background:#ffffff;width:400px;margin:10px auto;padding:0 20px 20px;border:1px solid #E3E3E3;">
		<div style="text-align:center;padding-top:20px;">
		<img src="http://pheromones-resource.com/wp-content/themes/standard/images/fusionpanel_logo.png" width="280"/>
		</div>
		<h2 style="color:#0B4B6B;text-align:center;font-size:20px">Hey! Let's Rock the World</h2>
		<p style="text-align:center"><%= @inviter %> invites you to manage fusionpanel at <a href="http://www.michaelpanco.com" style="text-decoration:none">www.michaelpanco.com</a> as a <%= @user_role %></p>

		<div style="margin: 35px 0;text-align: center;">
		<a style=" background: none repeat scroll 0 0 #479CCF;color: #FFFFFF;font-size: 16px;margin: 0 auto;padding: 11px 50px;text-decoration: none;" href="<%= @create_link %>">Create an Account</a></div>
		
		<p>Thank you and have a great day!</p>
	</div>
</div>
