.entry-slug{
  border-bottom: 1px solid #EAEAEA;
    margin-bottom: 20px;
    padding-bottom: 10px; 
}
.btnonoff{

}
.btnonoff-wrap{
  height: 25px;
  padding: 15px;
  border-radius: 5px;
  background: none repeat scroll 0 0 #F2F7FA;
}