<div>
    <h1><%= params["controller"].capitalize %></h1>
</div>

<%= image_tag("fusionpanel_logo.png", alt: "Fusionpanel", width: 220, class: "mb10")%>
<div class="ml30">
<p>Fusionpanel v 1.0</p>
<p>If you have any idea to improve this project, you can contribute at <a href="https://github.com/michaelpanco/fusionpanel" rel="nofollow">Fusionpanel</a> project repository.
</p>
<p>Thank you for using Fusionpanel :)</p>
</div>